  .material-icons{
    margin: 5px;
  }
  
  body {
    background-image: url("images/contactus.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
    color: #4CAF50;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 75px;
  }

  .navbar h2{
    justify-content: left;
    background: #4CAF50;
    border: solid #ffffff;
    color:rgb(35, 35, 35);
    margin-right: 20px;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    transition: 0.5s;
 }

 .navbar h2:hover{
    background: rgb(255, 255, 255);
    border: solid #4CAF50;
    color: #4CAF50;
 }

  .navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
    height: 100%;
    transition: 0.35s;
  }

  .navbar a:hover {
    background-color: #555;
  }

  .main{
    margin: 25px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
  }

  .main h1{
    text-align: center;
  }

  .my-hr{
    border: 2px white solid;
    width: 60vw;
    margin-top: 20px;
    border-radius: 20px;
  }

  .logo{
    width: 150px;
    text-align: center;
    background: #4CAF50;
    border: solid #ffffff;
    color:rgb(35, 35, 35);
    border-radius: 5px 20px;
    padding: 2px 0px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: black 2px 2px;
  }
  
  .logo:hover{
    background: rgb(255, 255, 255);
    border: solid #4CAF50;
    color: #4CAF50;
 }

  .sec1{
    display: flex;
    justify-content:center;
  }

  .sec1-form{
    color: #000000;
    display: block;
    width: 500px;
    height: 475px;
    border-radius: 10px 50px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: #4CAF50 15px 15px 2px;
  }

  .sec1-form label{
    font-weight: bold;
  }

  .sec1-form input {
    font-size: 14px;
    height: 22px;
    width: 490px;
    background-color: rgba(255, 255, 255, 0.5);
    
  }

  .sec1-form textarea{
    width: 490px;
    font-size: 14px;
  }

  .sec1-form button{
    background-color: #4CAF50;
    border: #000000 3px solid;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
  }

  .sec1-form button:hover{
    background: rgb(255, 255, 255);
    border: solid #4CAF50;
    color: #4CAF50;
 }

  .bottom{
    background-color: rgb(224, 222, 222);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    color: #000000;
  }

  footer{
    font-weight: bold;
    background-color: black;
    text-align: center;
    line-height: 40px;
  }
  