body {
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
  }

  .my-hr{
    background-color: white;
    border:#4CAF50 4px solid;
    border-radius: 20px;
    height: 4px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 75px;
  }

  .navbar h2{
    justify-content: left;
    background: #4CAF50;
    border: solid #ffffff;
    color:rgb(35, 35, 35);
    margin-right: 20px;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    transition: 0.5s;
 }

 .navbar h2:hover{
    background: rgb(255, 255, 255);
    border: solid #4CAF50;
    color: #4CAF50;
 }

  .navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
    height: 100%;
    transition: 0.35s;
  }

  .navbar a:hover {
    background-color: #555;
  }

  .main{
    background-color: rgba(255, 255, 255, 0.);
    color:#4CAF50;
    margin: 25px;
    padding: 30px;
    border-radius: 5px;
  }

  .hero{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 40px 11vw;
    padding: 20px 10px;
    width: auto;
    border-radius: 10px 50px;
    box-shadow: #4CAF50 10px 10px  2px;
  }

  .hero h1, p, a{
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  .services{
    width: auto;
    padding-top: 10px;
    margin: 50px 10%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .services h1, h2, p, a{
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .services table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin: 40px 11vw;
  }

  .services img{
    margin: 10px ;
    border-radius: 10px;
    border: #4CAF50 dashed 4px;
  }

  .trainer{
    margin: 40px 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: #4CAF50 2px solid;
    border-radius: 20px 95px;
    min-width: 900px;
    box-shadow: #4CAF50 10px 10px 2px;
  }
  
  .trainer img{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 500px;
    border: 4px solid;
    border-radius: 10px 75px
  }

  .trainer p{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 750;
  }

  .testimonials{  
    margin: 40px 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border: #4CAF50 2px solid;
    border-radius: 20px 95px; 
    box-shadow: #4CAF50 10px 10px 2px;
  }

  .testimonials p{
    display: inline-block;
    border: #4CAF50 0px solid;
    padding: 10px;
    margin-left: 70px
  }

  .bottom{
    background-color: rgb(224, 222, 222);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    color: #000000;
  }

  footer{
    font-weight: bold;
    background-color: black;
    text-align: center;
    line-height: 40px;
    color: #4CAF50;
  }